/* Background pending client approval */
body {
  background-image: url("./images/pattern.jpeg");
  width: 99%;
  height: 1650px;
  text-align: center;
}
/* Background pending client approval */

#header {
  text-align: center;
  font-size: 100px;
  color: khaki;
  /* background-image: url("./images/pattern.jpeg");
  width: 100%;      (replace 3 lines below if client doesn't approve)*/
  background-color: hsla(360, 100%, 1%, 0.3);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  border: 6px double hsla(230, 0%, 10%, 0.5);
}

.Helvetica {
  font-family: Helvetica, sans-serif;
}

.bold {
  font-weight: bold;
}

.blue {
  color:blue;
}

.green {
  color: hsla(130, 50%, 37%, 1.0);
  text-shadow: 0 0 0.2em hsla(230, 0%, 1%, 1.0)
}
/* Delete below if client disapproves of nav bar */
#nav {
  text-align: center;
  font-size: 40px;
  word-spacing: 250px;
  font-family: sans-serif;
  background-color: hsla(230, 50%, 30%, 0.5);
  border: 3px solid hsla(230, 0%, 10%, 0.5);
  width: thick;
}
/* Delete above if client disapproves of nav bar */
h1 {
  color: white;
  font-size: 32px;
}

.brushes {
  background-color: mediumspringgreen;
}

.frames {
  background-color: lightcoral;
}

.paint {
  background-color: skyblue;
}
/*delete all paragraph classes if client disapproves */
.paragraph {
  display: inline-block;
  background-color: hsla(360, 100%, 100%, 0.3);
}
